<ul>
  <li *ngFor="let question of questions">
    {{question.text}}
  </li>
</ul>

<a style="cursor: pointer;" *ngIf="!isDisplayQuestionForm" (click)="toggleDisplayForm()"><fa name="plus-circle" size="2x"></fa>
  Add Question
</a>
<a style="cursor: pointer;" *ngIf="isDisplayQuestionForm" (click)="toggleDisplayForm()"><fa name="times-circle" size="2x"></fa>

</a>

<div *ngIf="isDisplayQuestionForm">
  <form #userlogin = "ngForm" (ngSubmit) = "submitForm(userlogin.value)" >
    <input type = "text" name = "text" placeholder = "question text" ngModel>
    <br/>
    <input type = "submit" value = "submit">
  </form>
</div>
