<!--The content below is only a placeholder and can be replaced.-->

<div align='center'><h1>Quiz Front-End App</h1></div>


<div class="container">
  <table class ="table">
    <tr *ngFor="let quiz of quizzes">
      <td>
        {{quiz.id}}
      </td>
      <td>
        {{quiz.title}}
      </td>
      <td>
        {{quiz.description}}
      </td>
      <td>  
        <button class= 'btn btn-info' (click)="updateUser()"> UPDATE DATA</button>
      </td>
    </tr>
  </table>

  <div class='form-group row'>
    <input type='number' class='form-inline' [(ngModel)]='fetchId' name='QuizId' placeholder='Enter the Id of user to fetch' />
    <button class='btn btn-info' (click)='getQuiz()'>Fetch Quiz</button>
  </div>
  
  <div *ngIf="displayData">
    <table class ="table">
      <tr>
        <td>
          {{quiz.id}}
        </td>
        <td>
          {{quiz.title}}
        </td>
        <td>
          {{quiz.description}}
        </td>
      </tr>
    </table>
  </div>

</div>

<router-outlet></router-outlet>
