<!--The content below is only a placeholder and can be replaced.-->

<div align='center'><h1>Quiz Front-End App</h1></div>


<div class="container">

  <h3>create Quiz</h3>

  <form [formGroup]='quizFormGroup' (ngSubmit)='createQuiz()' novalidate>
    <input class='form-control' type="text" formControlName='title' placeholder='Enter Title' />
    <input class='form-control' type="text" formControlName='description' placeholder='Enter Description' />

    <button class='btn btn-info'>Add Quiz</button>
  </form>

  <br>
  <br>

  <table class ="table">
    <tr *ngFor="let quiz of quizzes">
      <td>
        {{quiz.id}}
      </td>
      <td>
        {{quiz.title}}
      </td>
      <td>
        {{quiz.description}}
      </td>
      <td>  
        <button class= 'btn btn-info' (click)="updateUser()"> UPDATE DATA</button>
      </td>
      <td>
          <i class="fa fa-trash-alt"></i>
      </td>
    </tr>
  </table>

  
  <div *ngIf="displayData">
    <table class ="table">
      <tr>
        <td>
          {{quiz.id}}
        </td>
        <td>
          {{quiz.title}}
        </td>
        <td>
          {{quiz.description}}
        </td>
      </tr>
    </table>
  </div>

</div>

<router-outlet></router-outlet>
