<h2>Quiz Dashboard</h2>
<table mdbTable striped="true" class='quiz-table'>
  <thead>
    <tr>
      <th scope="col"> ID </th>
      <th scope="col"> Title </th>
      <th scope="col"> Description </th>
      <th scope="col"> Actions </th>
      <th scope="col"> Details</th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let quiz of quizzes">
      <th scope="row">{{quiz.id}}</th>
      <td class="title">{{quiz.title}}</td>
      <td>{{quiz.description}}</td>
      <td><a href="#" (click)="deleteQuiz(quiz.id)">Delete This</a></td>
      <td><a [routerLink]="['/quizzes', quiz.id]"routerLinkActive="active">View Detail</a></td>
    </tr>
  </tbody>
</table>